<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyGroceryList.Properties.Settings.GroceryDBConnectionString"
            connectionString="Data Source=|DataDirectory|\GroceryDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>